{% extends 'paginas/base.html' %}
{% load static %}

{% block titulo %}
Listar Cursos
{% endblock %}

{% block conteudo %}
<h2>Cursos cadastrados
    <a href="{% url 'cadastrar-curso' %}"
    class="btn btn-primary btn-sm float-end">
        Adicionar curso
    </a>
</h2>

<hr>

<form action="?" method="GET">
    <input type="text" name="nome" id="" value="{{ request.GET.nome }}" class="p-1 border" 
    autocomplete="off" placeholder="Nome ou parte dele">

    <button type="submit" class="btn btn-success btn-sm">Buscar</button>
    <a href="{% url 'listar-curso' %}" class="btn btn-light btn-sm">Limpar</a>
</form>

<hr>
<div class="table-responsive">
    <table class="table table-striped">
        <tr>
            <th>Curso</th>
            <th>Carga Horária</th>
            <th>Presencial</th>
            <th>Departamento</th>
            <th>Modalidade</th>
            <th>Opções</th>
        </tr>
        {% for curso in object_list %}
        <tr>
            <td>{{ curso.nome }}</td>
            <td>{{ curso.cargaHoraria }}</td>
            <td>
                {% if curso.presencial %}
                Sim
                {% else %}
                Não
                {% endif %}
            </td>
            <td>{{ curso.departamento.sigla }}</td>
            <td>{{ curso.modalidade.nome }}</td>
            <td>
                <a href="{% url 'editar-curso' curso.pk %}" 
                class="btn btn-warning btn-sm" title="Editar">
                    Editar
                </a>
                <a href="{% url 'excluir-curso' curso.pk %}"
                class="btn btn-danger btn-sm" title="Excluir">Excluir</a>

            </td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="6">
                Nenhum campo registro.
            </td>
        </tr>
        {% endfor %}
    </table>
    
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
                {% if request.GET.nome %}
                <li class="page-item"><a class="page-link" href="?page=1&nome={{request.GET.nome}}">&laquo; Primeira</a></li>
                <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}&nome={{request.GET.nome}}">Anterior</a></li>
                {% else %}
                <li class="page-item"><a class="page-link" href="?page=1">&laquo; Primeira</a></li>
                <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">Anterior</a></li>
                {% endif %}
            {% endif %}
            
            <li class="page-item">
                <span class="page-link">Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}.</span>
            </li>
            
            {% if page_obj.has_next %}
                {% if request.GET.nome %}
                <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}&nome={{request.GET.nome}}">Próxima</a></li>
                <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}&nome={{request.GET.nome}}">Última &raquo;</a></li>
                {% else %}
                <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Próxima</a></li>
                <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">Última &raquo;</a></li>
                {% endif %}
            {% endif %}
            
        </ul>
    
</div>

{% endblock %}