{% extends 'paginas/base.html' %}
{% load static %}

{% block titulo %}
Listar Disciplinas
{% endblock %}

{% block conteudo %}
<h2>Disciplinas cadastradas</h2>

<hr>
<div class="table-responsive">
    <table class="table table-striped">
        <tr>
            <th>Disciplina</th>
            <th>Carga Horária</th>
            <th>Departamento</th>
            <th>Opções</th>
        </tr>
        {% for disciplina in object_list %}
        <tr>
            <td>{{ disciplina.nome }}</td>
            <td>{{ disciplina.cargaHoraria }}</td>
            <td>{{ disciplina.departamento.sigla }}</td>
            <td>
                <a href="{% url 'editar-disciplina' disciplina.pk %}" 
                class="btn btn-warning btn-sm" title="Editar">
                    Editar
                </a>
                <a href="{% url 'excluir-disciplina' disciplina.pk %}"
                class="btn btn-danger btn-sm" title="Excluir">Excluir</a>

            </td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="4">
                Nenhum campo registro.
            </td>
        </tr>
        {% endfor %}
    </table>
</div>

{% endblock %}