{% extends 'paginas/base.html' %}
{% load static %}

{% block titulo %}
Sistema Acadêmico - Página Inicial
{% endblock %}

{% block conteudo %}
{% if request.user.perfil.nome_completo %}
<h1>
    {{ request.user.perfil.nome_completo }}, seja bem-vindo(a) ao Sistema Acadêmico!
</h1>
{% elif request.user.is_authenticated %}
<h1>
    {{ request.user }}, seja bem-vindo(a) ao Sistema Acadêmico!
</h1>    
<p>Você precisa completar o seu cadastro. Acesse <a href="{% url 'atualizar-dados' %}">
    Meus dados</a>
 para atualizar os seus dados.
</p>
{% else %}
<h1>
    Seja bem-vindo(a) ao Sistema Acadêmico!
</h1>
<p>Para se cadastrar acesse <a href="{% url 'registrar' %}">Cadastrar-se</a>.</p> 

{% endif %}

{% endblock %}

{% block scripts %}
<script>

    $(document).ready(function(){
        alert('Seja bem-vindo!');    
    });

</script>


{% endblock %}

